.welcome-home{
padding: 50px;
padding-bottom: 20px;

}

.container-main{


}

.container-main img{
max-width: 400px;

}

@media only screen and (max-width: 768px) {
  /* Your CSS styles for mobile screens here */
  .welimg-mob{
    width: 340px;
    
    }
}

.f-img{
height: 340px;
width: 170px;

}
@media only screen and (max-width: 768px) {

  .f-img{
    height: 500px;
    width: 140px;
    
    }
}

.p-img{
  height: 340px;
  width: 170px;
  
  }
  @media only screen and (max-width: 768px) {
  
    .p-img{
      height: 500px;
      width: 140px;
      
      }
  }
  
