.welcome-home{
padding: 50px;
padding-bottom: 20px;

}

.container-main{


}

.container-main img{
max-width: 400px;

}

@media only screen and (max-width: 768px) {
  /* Your CSS styles for mobile screens here */
  .welimg-mob{
    width: 340px;
    
    }
}
